/* font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
}


main {
    /* background-color: #FFF; */
}

body {
    margin: 0px auto;
    /* max-width: 120rem; */
}

body {
    background-color: #F6FAFE;
}


/* common class  */
.paragraph {
    color: #696984;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




/* header  */

header {
    background-color: #dff4f4;
    padding: 30px 60px 60px 60px;
    /* border-radius: 0% 0% 50% 50%; */
    /* border: 1px solid red; */
}

/* navbar  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-left {
    display: flex;
    gap: 37px;
}

.navigation-left li {
    list-style: none;
}

.navigation-left li a {
    text-decoration: none;
    color: var(--Black, #000);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.head-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

/* .head-logo img{
    width: 264px;
    height: 43px;
} */

.navigation-right {
    display: flex;
    gap: 18px;
    align-items: center;
}

.search-btn {
    border: none;
    color: #BDBDBD;
    background-color: none;
    cursor: pointer;
    background: none;
    /* border: 1px solid red;  */
    padding: 10px 10px;
    font-size: 16px;
}

.signin-btn {
    border-radius: 4px;
    background: var(--Primary-Color, #14BF96);
    color: var(--Colors-White, #FFF);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
}

.signup-btn {
    border-radius: 4px;
    border: 2px solid var(--Primary-Color, #14BF96);
    color: #14BF96;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    padding: 10px 20px;
    background-color: none;
    background: none;
}

header hr {
    border: none;
    background-color: #14BF96;
    height: 1px;
    margin-top: 30px;
}

/* header section  */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h3 {
    color: var(--Black, #000);
    font-family: 'Poppins';
    font-size: 300%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.44px;
    text-transform: capitalize;
    max-width: 651px;
    position: relative;
}

.header-content h3 span {
    color: #14BF96;
}

.underline {
    position: absolute;
    left: 0px;
    bottom: 64px;
}

.header-content p {
    color: #000;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
    margin-top: 30px;
    max-width: 575px;
}

.join-btn {
    border-radius: 4px;
    background: var(--Primary-Color, #14BF96);
    color: var(--Colors-White, #FFF);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    padding: 18px 20px;
    margin-right: 19px;
}

.learn-btn {
    border-radius: 4px;
    border: 2px solid var(--Primary-Color, #14BF96);
    color: #14BF96;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    padding: 16px 20px;
    background-color: none;
    background: none;
}

.header-img img {
    width: 100%;
}


/* Why khan Academy works section  */

.why-section {
    background-color: transparent;
    margin: 50px 60px;
}

.section-title {}

.section-title h3 {
    color: #000;
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    text-align: center;
    margin: 0px 0px 46px 0px;
}

.section-title h3 span {
    color: #14BF96;
}

.why-section-box {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px;
}


.why-section-box .box {
    background-color: #FFF;
    padding: 30px 20px;
    border-radius: 20px;
}

.why-section-box .box h3 {
    color: #000;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    margin: 18px 0px 24px 0px;
}

.why-section-box .box p {
    color: #696984;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 383px;
}